@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100;300;400;700;900&display=swap");

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
:root {
     --amarillo: rgb(255, 190, 0);
     --font: "Lexend Mega", sans-serif;
}

main {
     background-color: rgb(12, 15, 19);
     display: flex;
     min-height: 100vh;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
.form {
     padding: 30px;
}

#inputNumber {
     background-color: transparent;
     border: 5px solid;
     border-image-slice: 1;
     border-image-source: radial-gradient(
          ellipse farthest-corner at right bottom,
          #fedb37 100%,
          #fdb931 100%,
          #9f7928 100%,
          #8a6e2f 100%,
          transparent 80%
     );
     border-image-source: radial-gradient(
          ellipse farthest-corner at left top,
          #ffffff 0%,
          #ffffac 8%,
          #d1b464 25%,
          #5d4a1f 62.5%,
          #5d4a1f 100%
     );
     color: white;
     outline: none;
     height: 50px;
     padding: 5px;
     text-align: center;
}
/* quitar flechas del input */
#inputNumber::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
}

.submit {
     height: 52px;
     padding: 10px;
     background: radial-gradient(
               ellipse farthest-corner at right bottom,
               #fedb37 0%,
               #fdb931 8%,
               #9f7928 30%,
               #8a6e2f 40%,
               transparent 80%
          ),
          radial-gradient(
               ellipse farthest-corner at left top,
               #ffffff 0%,
               #ffffac 8%,
               #d1b464 25%,
               #5d4a1f 62.5%,
               #5d4a1f 100%
          );
     cursor: pointer;
}
.submit:hover {
     box-shadow: 0px 0px 9px -1px rgba(255, 255, 255, 0.45);
     transition: all 0.3s;
}

.error {
     top: 80px;
     color: rgb(222, 2, 2);
     text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
     padding: 10px;
     text-transform: uppercase;
     letter-spacing: 2px;
}
.remove-all {
     background-color: transparent;
     color: rgb(174, 174, 174);
     font-size: 0.8rem;
     font-family: var(--font);
     padding: 40px;
     transform: scaleX(1);
     transition: all 0.5s;
     cursor: pointer;
}
.remove-all:hover {
     transform: scaleX(1.3);
     transition: all 0.5s;
     transform-origin: center;
     color: white;
}

/*  hacer borders degradados dorados */

.card--container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
}

.card {
     user-select: none;
     background-position: center;
     filter: sepia(30%);

     margin: 10px;
     padding: 0px 30px;
     width: 450px;
     height: 650px;
     border: 25px solid;
     border-image-slice: 1;
     border-image-source: radial-gradient(
          ellipse farthest-corner at right bottom,
          #fedb37 100%,
          #fdb931 100%,
          #9f7928 100%,
          #8a6e2f 100%,
          transparent 80%
     );
     border-image-source: radial-gradient(
          ellipse farthest-corner at left top,
          #ffffff 0%,
          #ffffac 8%,
          #d1b464 25%,
          #5d4a1f 62.5%,
          #5d4a1f 100%
     );
     position: relative;
     animation: opacity 1.3s;
}
@keyframes opacity {
     from {
          opacity: 0;
     }
     to {
          opacity: 100;
     }
}

.card--x {
     font-size: 25px;
     position: absolute;
     top: -25px;
     right: -25px;
}
.card--x:active {
     color: white;
     transition: 0.5s;
}
.card--x:hover {
     transition: 0.5s;
     text-shadow: 1px 1px 8px rgba(255, 105, 105, 0.6);
     color: rgb(159, 48, 48);
}

/* header del pokemon */
.card--pokemon {
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.card--pokemon span {
     text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
     font-size: 14px;
     font-family: var(--font);
     font-weight: 700;
     color: rgb(69, 69, 69);
}
.pokemon--name {
     text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.6);
     font-family: var(--font);
     letter-spacing: -2px;
     text-transform: capitalize;
     font-weight: 900;
     padding-top: 5px;
}

.type {
     padding-top: 5px;
     list-style: none;
     display: flex;
     gap: 5px;
}

/* Imagen y container */
.card--img {
     height: 320px;
     border: 15px solid;
     border-image-slice: 1;
     border-image-source: radial-gradient(
          ellipse farthest-corner at right bottom,
          #fedb37 100%,
          #fdb931 100%,
          #9f7928 100%,
          #8a6e2f 100%,
          transparent 80%
     );
     border-image-source: radial-gradient(
          ellipse farthest-corner at left top,
          #ffffff 0%,
          #ffffac 8%,
          #d1b464 25%,
          #5d4a1f 62.5%,
          #5d4a1f 100%
     );
     background-size: cover;
}
.card--img img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

/* propiedades */

.pokemon--prop {
     background: radial-gradient(
               ellipse farthest-corner at right bottom,
               #fedb37 0%,
               #fdb931 8%,
               #9f7928 30%,
               #8a6e2f 40%,
               transparent 80%
          ),
          radial-gradient(
               ellipse farthest-corner at left top,
               #ffffff 0%,
               #ffffac 8%,
               #d1b464 25%,
               #5d4a1f 62.5%,
               #5d4a1f 100%
          );
     margin: 5px;
     padding: 3px;
     border-radius: 5px;
}

.pokemon--prop ul {
     font-family: var(--font);
     letter-spacing: -1px;
     font-size: 10px;
     font-weight: 700;

     display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
     gap: 10px;
}

/* Movimientos */
.pokemon--moves {
     margin: 15px 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 5px;
     position: relative;
}
.move--container {
     display: flex;
     justify-content: space-between;
}
.move {
     gap: 5px;
     padding: 5px;
     display: flex;
     justify-content: space-between;
     border-bottom: 1px solid black;
     position: relative;
}
.move--name {
     padding-left: 5px;
     text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.6);
     text-transform: capitalize;
     font-family: var(--font);
     font-size: 11px;
     font-weight: 700;
}
.move--effect {
     padding-left: 5px;
     font-size: 8px;
     font-family: var(--font);
}
.move span {
     text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.6);
     font-family: var(--font);
     font-weight: 900;
     font-size: 20px;
}
.move span small {
     font-size: 10px;
}

/* Habilidades */
.pokemon--abilities {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 5px;
     margin: 10px 0;
}
.pokemon--abilities h3 {
     background: radial-gradient(
               ellipse farthest-corner at right bottom,
               #fedb37 0%,
               #fdb931 8%,
               #9f7928 30%,
               #8a6e2f 40%,
               transparent 80%
          ),
          radial-gradient(
               ellipse farthest-corner at left top,
               #ffffff 0%,
               #ffffac 8%,
               #d1b464 25%,
               #5d4a1f 62.5%,
               #5d4a1f 100%
          );
     color: black;
     font-family: var(--font);
     font-weight: 900;
     text-transform: uppercase;
     font-size: 9px;
     padding: 10px;
}
.abilities {
     text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.6);
     text-transform: capitalize;
     font-family: var(--font);
     font-weight: 700;
     font-size: 14px;

     list-style: none;
     display: flex;
     justify-content: space-between;
     gap: 20px;
}

.footer {
     position: absolute;
     bottom: 5px;
     display: flex;
     gap: 20px;
     justify-content: space-between;
}
.number {
     text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.6);
     font-family: var(--font);
     font-weight: 700;

     position: absolute;
     right: -25px;
     bottom: -25px;
     font-size: 18px;
}

.footer h3 {
     font-size: 9px;
}
.footer p {
     font-size: 9px;
}
.hidden {
     display: none;
}
